body{
  background-color: rgb(151, 255, 255);
  margin-left: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.Header{
  background-color: rgb(236, 174, 255);
  font-size: 50px;
  margin-left: 700px;
  border-radius: 10px;
  margin-right: 800px;

}

th{
  padding: 50px;
}

#btn-ed-del{
  background-color: rgb(29, 35, 35);
  border-radius: 5px;
  margin-left: 5px;
  color: white;
}

.finished{
  color: grey;
}

.inp-fields{
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
}

#btn-add{
  font-size: 20px;
  margin-left: 20px;
  border-radius: 20px;
  margin-bottom: 100px;
}

.space{
  margin-left: 10px;
}

.search{
  margin-left: 400px;
}

input{
  border-radius: 5px;
  font-size: 15px;
}

table{
  margin-left: 250px;
}

.past-due {
  color: red;
  
}

.not-past-due {
  color: green;
}

#btn-sort{
  color:aliceblue;
  background-color: black;
  border-radius: 10px;
  margin-top: 2px;
  margin-left: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;

}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #000000;
}

th {
  background-color: #f2f2f2;
}

.btns{
  margin-left:40px;
}

tr{
  margin-right: 10px;
}